{{template "layout" .}}
{{define "content"}}
<div id='projectlist'>
	<h1>Projects</h1>
	{{range .ProjectList}}
		<div class='projectlistitem'>
			<a href='/project/{{.Name}}'>
				<img src={{.ImageHref}} alt={{.ImageAlt}} />
				<h2>{{.Title}}</h2>
				<p>{{.Description}}</p>
			</a>
		</div>
	{{end}}
</div>
{{end}}
