{{template "layout" .}}
{{define "content"}}
<div id='projectlist'>
	{{range .Content.Projects}}
		<div class='projectlistitem'>
			<a href=/project/{{.Name}}>
				<h2>{{.Name}}</h2>
				<p>{{.Description}}</p>
			</a>
		</div>
	{{end}}
</div>
{{end}}
