body {
	font-family: Inter, sans-serif;
}
#logo {
	letter-spacing: -1px;
	font-family: Times New Roman, serif;
	font-size: 28px;
	font-weight: normal;
}
nav {
	position: fixed;
	width: 160px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li {
	border-bottom: 1px solid white;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
nav ul li.active {
	text-decoration: underline;
	text-decoration-color: black;
}
nav ul li:not(.active):hover {
	text-decoration: underline;
	text-decoration-color: lightgrey;
}
nav ul li a {
	display: block;
	padding: 0.25rem 0;
	text-decoration: none;
	color: black;
}
nav ul li a:hover {
	cursor: pointer;
}
#container {
	padding-top: 60px;
	width: 960px;
	margin: 0 auto;
}
header {
	height: 1px;
	float: left;
	width: 160px;
}
main {
	float: left;
	width: 700px;
	padding-left: 60px;
}
ul#projects {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul#projects a {
	/* text-decoration: none; */
	color: black;
}
ul#projects li {
	margin-bottom: 10px;
}
ul#projects a:hover {
	/* text-decoration: underline; */
	/* text-decoration-color: lightgrey; */
	color: grey;
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
	#container {
		width: 750px;
	}
	header {
		width: 150px;
	}
	main {
		width: 550px;
		padding-left: 50px;
	}
}
@media only screen and (max-width: 750px) {
	#container {
		width: 300px;
	}
	nav {
		position: static;
	}
	header {
		width: 300px;
		height: 300px;
	}
	main {
		width: 300px;
		padding-left: 0px;
	}
}
