div#projectlist {
}
div.projectlistitem {
	margin: 2rem 0rem;
}
div.projectlistitem a {
	text-decoration: none;
	color: black;
}
div.projectlistitem a:hover {
	cursor: pointer;
}
div.projectlistitem h2 {
	margin: 0.25rem 0;
}
div.projectlistitem p {
	margin: 0.25rem 0;
}
div.projectlistitem img {
	width: 48px;
	margin: 0 1em;
	float: left;
}
