body {
	font-family: Inter, sans-serif;
}
body > nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body > nav li {
	float: left;
	margin: 0 0.25rem;
	border-bottom: 1px solid white;
}
body > nav li.active {
	border-bottom: 1px solid black;
}
body > nav li:not(.active):hover {
	border-bottom: 1px solid lightgrey;
}
body > nav li a {
	display: block;
	text-align: center;
	padding: 0.25rem 1rem;
	text-decoration: none;
	color: black;
}
body > nav li a:hover {
	cursor: pointer;
}
div#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 1rem;
}
header {
	display: inline-block;
	min-width: 35vh;
	max-width: 45vh;
	padding: 1rem 2rem;
}
header h2 {
	display: inline-block;
}
header img {
	float: left;
	width: 4rem;
	margin-right: 1rem;
	border-radius: 15%;
}
ul#contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}
ul#contact li {
	border: 1px solid white;
	float: left;
	margin: 0 1rem;
	flex-grow: 1;
}
ul#contact li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: grey;
}
main {
	max-width: 680px;
}
