div#projectlist {
}
div.projectlistitrem {
}
main div.projectlistitem {
	margin: 1rem 0rem;
}
main div.projectlistitem a {
	text-decoration: none;
	color: black;
}
main div.projectlistitem a:hover {
	cursor: pointer;
}
main div.projectlistitem h2 {
	margin: 0.25rem 0;
}
main div.projectlistitem p {
	margin: 0.25rem 0;
}
